form {
    display: flex;
    flex-direction: column;

    &:not(.static) > .form-control {
        height: 3rem;
    }
    &:not(.static) input {
        padding-left: 8px;
        padding-right: 8px;
    }

    > .form-control {
        display: flex;
        flex-direction: row;
        > * {
            align-self: center;
        }

        > label {
            width: 4.2rem;
            text-align: right;
        }

        > label,
        > input {
            font-size: 1rem;
            line-height: 2rem;
        }

        > input {
            flex-grow: 1;
        }
        > input[type="checkbox"] {
            flex-grow: 0;
        }
        > input[type="checkbox"] + label {
            margin-left: 4px;
            text-align: left;
        }
    }

    > .form-control.stack {
        height: auto;

        flex-direction: column;
        flex-grow: 1;

        > label {
            align-self: flex-start;
            width: auto !important;
        }
    }

    .actions {
        text-align: center;
        margin-top: 16px;
    }
    input[type="submit"],
    input[type="button"] {
        margin-right: 8px;
        padding: 6px 24px;

        background: #bce2e8;
        border: 1px solid white;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    form:invalid input[type="submit"],
    form:invalid input[type="button"] {
        background-color: rgb(127, 127, 127);
    }
}
