$siteBackground: whitesmoke;

// 內容的最大寬度，包含頁首、內容等等
$containerMaxWidth: 800px;

// 有關頁首的設定
$bannerBackground: black;
$bannerTextColor: white;
$bannerLinkSeparatorColor: white;

// 頁尾設定
$footerBackground: black;
$footerTextColor: white;

// 商品瀏覽頁
$categoryNavigationBackground: rgba(0, 0, 0, 0.25);
$categoryNavigationTitleBackground: black;
$categoryNavigationTitleColor: white;

// 標籤
$tabBarRadius: 8px;

@mixin fixedImage($width, $height) {
    min-width: $width;
    min-height: $height;
    max-width: $width;
    max-height: $height;

    object-fit: cover;
    object-position: center;
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}
