$siteBackground: white;

// 內容的最大寬度，包含頁首、內容等等
$containerMaxWidth: 800px;

// 有關頁首的設定
$bannerBackground: #f5949f;
$bannerTextColor: white;
$bannerLinkSeparatorColor: $bannerTextColor;

// 頁尾設定
$footerBackground: $bannerBackground;
$footerTextColor: $bannerTextColor;

// 商品瀏覽頁
$categoryNavigationBackground: #f8f4e6;
$categoryNavigationTitleBackground: #fababa;
$categoryNavigationTitleColor: white;

// 標籤
$tabBarRadius: 8px;

@mixin fixedImage($width, $height) {
    min-width: $width;
    min-height: $height;
    max-width: $width;
    max-height: $height;

    object-fit: contain;
    object-position: center;
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}
