@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@function stars($amount) {
    @if $amount == 0 {
        @return "";
    }

    $result: "";
    @for $i from 1 through $amount {
        $result: $result fa-content($fa-var-star) " ";
    }
    @return $result;
}

span.ratings {
    @extend %fa-icon;
    @extend .far;

    line-height: inherit !important;
    font-size: inherit;

    @for $i from 0 through 5 {
        &[data-rating="#{$i}"]::before {
            font-weight: 900;
            color: rgb(253, 204, 13);

            content: stars($i);
            white-space: pre;
        }

        &[data-rating="#{$i}"]::after {
            font-weight: 400;

            content: stars(5 - $i);
            white-space: pre;
        }
    }
}

.form-control.ratings {
    .fas {
        color: #fdcc0d;
    }
}
